[submodule ".themes/blanket"]
	path = .themes/blanket
	url = git://github.com/octothemes/blanket.git
[submodule ".themes/mullah-mussels"]
	path = .themes/mullah-mussels
	url = git://github.com/octothemes/mullah-mussels.git
